models/backbones/__pycache__/*
models/heads/__pycache__/*
models/necks/__pycache__/*
losses/__pycache__/*
tests/__pycache__/*
weights_pretrained/*
losses/__pycache__/*
config/__pycache__/*
datasets/__pycache__/*
engine/__pycache__/*
models/backbones/__pycache__/*
functional_logging/__pycache__/*
models/__pycache__/*

logs/market_vit_base_test/train_log.txt
logs/market_vit_base_test/tensorboard/2026-04-15/vit_base_market/events.out.tfevents.1776274058.mihai_rog.2216.0
logs/market_vit_base_test/tensorboard/2026-04-15/vit_base_market/events.out.tfevents.1776274202.mihai_rog.23716.0
config/__pycache__/*
processors/__pycache__/*
processors/__pycache__/processor_standard.cpython-310.pyc
models/backbones/__pycache__/vit_pytorch.cpython-310.pyc
solver/__pycache__/*
utils/__pycache__/*
logs/market_vit_base_test/*
config/__pycache__/*
config/__pycache__/__init__.cpython-310.pyc
config/__pycache__/defaults.cpython-310.pyc
