models/backbones/__pycache__/*
models/heads/__pycache__/*
models/necks/__pycache__/*
losses/__pycache__/*
tests/__pycache__/*
weights_pretrained/*
losses/__pycache__/*
config/__pycache__/*
datasets/__pycache__/*
engine/__pycache__/*
models/backbones/__pycache__/*
functional_logging/__pycache__/*
models/__pycache__/*
config/__pycache__/*
processors/__pycache__/*
models/backbones/__pycache__/*
solver/__pycache__/*
utils/__pycache__/*
logs/market_vit_base_test/*
config/__pycache__/*
logs/*
AGENTS.md
CLAUDE.md
.claude/settings.local.json
.vscode/launch.json
